@charset "utf-8";
@import "reset.css";
@import "common.css";

#view_title > div {
    justify-content: space-between;
}

#view_title > div div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

#view_title > div div:nth-child(2) a:nth-child(1) {
    background: url("../images/gal_view/icon2.png") no-repeat;
    width: 144px;
    height: 78px;
    transition: all 0.3s;
    margin-bottom: 30px;
}

#view_title > div div:nth-child(2) a:nth-child(1):hover {
    background: url("../images/gal_view/icon2_2.png") no-repeat;
}

#view_title > div div:nth-child(2) a:nth-child(2) {
    background: url("../images/gal_view/icon1.png") no-repeat;
    width: 144px;
    height: 78px;
    transition: all 0.3s;
}

#view_title > div div:nth-child(2) a:nth-child(2):hover {
    background: url("../images/gal_view/icon1_2.png") no-repeat;
} 

#view_cont h2 {
    font-family: 'IM_Hyemin-Bold';
    font-size: 24px;
    margin-bottom: 30px;
} 

#view_cont p {
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
    margin-top: 10px;
}
#view_cont{
    width: 80%;
   margin: 0 auto 50px;
   line-height: 180%;
   text-align: left;
   padding: 50px 0;
}
#view_cont > p > img{
	width: 100%;
}


#list {
    width: 100%;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    font-family: 'IM_Hyemin-Bold';
    margin-bottom: 20px;
    
}
#list span {
	margin-left: 45px;
    text-align: left;
    display: block;
}
#list  table {
    margin-top: 100px;
    height: 40px;
    line-height: 40px;
    width: 100%;
}


#list table tr {
    font-weight: 300;
    font-size: 14px;
}
#list table tr:nth-child(2n){
    background-color: #fff0e0;
}
#list table tr:hover {
    cursor: pointer;
    opacity: 0.8;
}

.ct {
    width: 70%;
}
.date {
    width: 20%;
    text-align: center;
}
 #page1 ul, #page2 ul {
    display: flex;
    width: 500px;
    justify-content: space-around;
    margin: 50px auto;
}
.comment h3 {
    font-family: 'IM_Hyemin-Bold';
    font-size: 20px;
    color:    #8c8c8c;
}

.comment p {
    padding-left: 10px;
}

.co_txt {
    width: 70%;
    margin-top: 25px;
    font-family: 'KyoboHand';
    font-size: 26px;
}

.co_date {
    display: block;
    width: 100%;
    font-size: 12px;
    color: #888;
}




