@charset "utf-8";
@import "reset.css";
@import "common.css";

@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}


#ss {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
#dong {
    display: flex;
    align-items: center;
}

.btn_wrap_gall1 a {
    display: block;
    width:181px;
    text-align: center;
    height: 71px;
    transition: all 0.3s;
  
}


.btn_wrap_gall1 a:first-child {
    background: url("../images/write1.png") no-repeat;
    
}

.btn_wrap_gall1 a:first-child:hover {
    background: url("../images/write1_2.png") no-repeat;
}

#list span{
	font-family: 'IM_Hyemin-Bold';
    font-size: 22px;
    padding: 5px;
    margin-left: 110px;
    margin-bottom: 20px;
}
#view_icon{
    width: 80%;
    margin-right: 200px;
    margin-bottom: 100px;
}
#view_bottom  #moglist{
    width: 90%;
   	margin-left: 60px;
    margin-bottom: 30px;
}
#view_cont #content {
   text-align: center;
   margin-bottom: 100px;
}


#contents > ul{
    display: flex;
    width: 30%;
    height: 50px;
    line-height: 50px;
}

#contents > ul li{
    width: 50%;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#contents > ul li.a{
    background-color: rgb(243, 243, 243);
}

#contents > ul li.b{
    background-color: #ff7b29;
    color: #fff;
}



#contents h2 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    
}

#contents h2 img{
    width: 50px;
}

#contents table {
    height: 40px;
    line-height: 40px;
    width: 100%;
}

#contents table thead > tr {
    font-size: 16px;
    font-weight: 400;
}
#contents table tr {
    font-weight: 300;
    font-size: 14px;
}
#contents table tr:nth-child(2n){
    background-color: #fff0e0;
}
#contents table tr:hover {
    cursor: pointer;
    opacity: 0.8;
}
.to {
    text-align: center;
    width: 65%;
}
.ct {
    width: 65%;
    text-align: center;
}
.date {
    width: 10%;
    text-align: center;
}
.name {
    width: 5%;
    text-align: center;
}
.no {
    width: 5%;
    text-align: center;
}
.nicon {
    margin-top: 15px;
    margin-left: 15px;
}


#page {
	width:100%;
	height: 10px;
    margin: 40px auto;
    text-align: center;
    
}
#page ul{
    display: flex;
    font-weight: 300;
    font-size: 16px;
    width: 40%;
    margin: 0 auto;
    justify-content: space-between;
}
#page ul li {
    text-align: center;
}

#find {
    margin:50px auto 100px;
    width: 100%;
    text-align: center;
}

#find select {
    width: 5%;
}
#find input {
    width : 20%;
}

@media(max-width:700px) {
    #contents > ul li{
        font-size: 16px;
    }
}

@media(max-width:450px) {
    #contents > ul li{
        font-size: 14px;
    }
}