@charset "utf-8";
@import "reset.css";
@import "common.css";

@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}





#contents h1 {
    font-size: 70px;
    font-weight: 500;
    text-align: center;
    margin-top: 300px;
    margin-bottom:40px;
    
}

#contents h2 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 300px;
    
}

